.todo {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  padding: 15px;
  color: antiquewhite;
  margin-bottom: 25px;
  width: 370px;
  border-radius: 25px;

  &:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    filter: blur(10px);
    margin: -20px;
  }
}

.text,
.showText {
  font-size: 18px;
  color: antiquewhite;
}

.text {
  height: 80px;
  overflow: hidden;
}

.showText {
  height: "100%";
}

.buttons {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid antiquewhite;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status {
  display: flex;
  span {
    font-size: 13px;
    font-weight: bold;
  }
}

.button {
  &:hover {
    transform: rotate(360deg);
    transition: 1s;
  }
  i {
    font-size: 20px;
  }
}
